
# you can get this api key from google AI Studio 

# for embedding model
GOOGLE_API_KEY = "google-api-key-here"


# razorpay test apis
RAZORPAY_KEY_ID = "razorpay_key_id"

RAZORPAY_KEY_SECRET = "razorpay_key_secret"